.card1
{
  background-image: url("Queue1.jpeg");
}

.card2
{
  background-image: url("Queue2.jpeg");
}

.card3
{
  background-image: url("Accounts3.jpg");
}

.card4
{
  background-image: url("Accounts1.jpg");
}

.card5
{
  background-image: url("Accounts2.jpg");
}